/* Error: Undefined mixin.
 *    ,
 * 43 |   @include vl-u-text--medium;
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ../@govflanders/vl-ui-util/src/scss/util/_typography.scss 43:3  @import
 *   vl-ui-util/src/scss/_util.scss 22:9                             @import
 *   ../../src/style.scss 19:9                                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 43 \2502    @include vl-u-text--medium;\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ../@govflanders/vl-ui-util/src/scss/util/_typography.scss 43:3  @import\a   vl-ui-util/src/scss/_util.scss 22:9                             @import\a   ../../src/style.scss 19:9                                       root stylesheet";
}
